
body{
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background: #202731;
}

img{
    width: 150px;
    height: auto;
}
h1{
    border: 2px red solid;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 330px;
    padding: 100px 20vw;
}

/* Spacer between sections */

.spacer{
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer {
    background-image: url('./bottom_layer.svg');
}

.layer2{
    background-image: url('./mid_layer.svg');
}

/* Color classes */

.blue{
    background: #143f7c;
}

.red{
    background: #77130c;
}

.pink{
    background: #C62368;
}

.dark{
    background: #060630;
}